body {
  background-color: white;
  display: grid;
}

.top-container {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.hero-card {
  padding: 2em;
  margin: 2em;
  height: 350px;
  width: 350px;
}

.bottom-container {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

#laptop-image {
  width: 350px;
  height: 350px;
}

.bank-card {
  border: 1px grey solid;
  box-shadow: 5px 10px #888888;
  padding: 2em;
  height: 350px;
  width: 200px;
}

.work-card {
  border: 1px grey solid;
  box-shadow: 5px 10px #888888;
  padding: 2em;
  height: 350px;
  width: 200px;
}

.laptop-card {
  border: 1px grey solid;
  box-shadow: 5px 10px #888888;
  padding: 2em;
  height: 350px;
  width: 200px;
}

button:active {
  background-color: green;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

#get-loan-button {
  background-color: lightcyan;
}

#bank-button {
  background-color: floralwhite;
}

#work-button {
  background-color: bisque;
}

#repay-button {
  background-color: crimson;
}

#buy-button {
  background-color: aquamarine;
}
